body {
  background-image: url(main.jpg);
  background-size: cover;
  height: 100vh;
}

.title {
  text-align: center;
  line-height: 30px;
}

.content-container {
  text-align: center;
  line-height: 30px;
}

.portfolio__profile__links {
  display: flex;
  justify-content: space-around;
}
